{% extends "shared/base.html" %}

{% block title %}Schedule{% endblock %}

{% block content %}

<div id="main">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="pop-flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <div class="header custom-header">
        <h2>Schedule <img src="/static/img/svg/schedule.svg" width="40px" alt="" class="mg-top-20"></h2>
        <img src="{{ url_for('static', filename='img/svg/icon-title-white.svg') }}" alt="icon-title-white">
    </div>

    <div class="content">
        <form method="POST" class="pure-form pure-form-stacked">
            {{ form.hidden_tag() }}

            <fieldset>
                <legend>PAYMENT</legend>
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-1-3">
                        {{ form.payment_option.label }}
                        {{ form.payment_option(class='pure-u-23-24') }}
                    </div>
                    <div class="pure-u-1 pure-u-md-1-3">
                        {{ form.clothes_count.label }}
                        {{ form.clothes_count(class='pure-u-23-24', oninput="updateCost()") }}
                        <span class="info pure-form-message">*Every piece of clothing is charged at ₦50</span>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-3">
                        <label for="">Total Cost:</label>
                        <p>₦<span id="cost">0</span></p>
                    </div>
                </div>
            </fieldset>

            <fieldset>
                <legend>SERVICE</legend>
                <div class="pure-g">
                    <div class="pure-u-1 pure-u-md-1-3">
                        {{ form.service_type.label }}
                        {{ form.service_type(class='pure-u-23-24') }}
                    </div>
                    <div class="pure-u-1 pure-u-md-1-3">
                        {{ form.pickup_date.label }}
                        {{ form.pickup_date(class='pure-u-23-24') }}
                    </div>
                    <div class="pure-u-1 pure-u-md-1-3">
                        {{ form.delivery_date.label }}
                        {{ form.delivery_date(class='pure-u-23-24') }}
                    </div>
                    <div class="pure-u-1 pure-u-md-1-2">
                        {{ form.pickup_addr.label }}
                        {{ form.pickup_addr(class='pure-u-23-24') }}
                    </div>
                    <div class="pure-u-1 pure-u-md-1-2">
                        {{ form.delivery_addr.label }}
                        {{ form.delivery_addr(class='pure-u-23-24') }}
                    </div>
                    <div class="pure-u-1">
                        {{ form.message.label }}
                        {{ form.message(class='pure-u-1') }}
                    </div>
                </div>
            </fieldset>
            <div class="pure-u-1 center">
                {{ form.confirm(class='pure-button pure-button-primary boring-btn') }}
            </div>
        </form>
    </div>

</div>

{% endblock %}