{% extends "shared/base.html" %}

{% block title %}Review Order{% endblock %}

{% block content %}

<div id="main">
    <!-- FLASH MESSAGES -->
    {% for category, msg in get_flashed_messages(with_categories=True) %}
    <div class="pop-flash">
        <span class="{{ category }}">{{ msg }}</span>
    </div>
    {% endfor %}

    <div class="header">
        <h1>Review Order</h1>
        <h2>Write a review for order #{{ '{:03d}'.format(id) }}</h2>
    </div>
    
    <div class="content mg-top-20">
        <form method="post" class="pure-form pure-form-stacked">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="pure-g">
                <div class="pure-u-1 center">
                    <label for="subject">
                        Subject
                        <input type="text" name="subject" required placeholder="Review Subject" id="subject">
                    </label>
                </div>
                <div class="pure-u-1 center">
                    <label for="message">
                        Message
                        <textarea name="message" placeholder="Tell us about your experience..." id="message" cols="30" rows="5"></textarea>
                    </label>
                </div>
            </div>
            
            <div class="center mg-top-20">
                <input type="submit" value="Send Review" class="boring-btn pure-button pure-button-primary">
            </div>
        </form>
    </div>
</div>

{% endblock %}